# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statistics

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [21]:
#  1. Get the total rides for each city type
total_rides = pyber_data_df.groupby(["type"]).count()["ride_id"]
total_rides.head()

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [73]:
# 2. Get the total drivers for each city type
total_drivers = pyber_data_df.groupby(["type"]).sum()["driver_count"]
total_drivers.head()

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [20]:
#  3. Get the total amount of fares for each city type
total_fares = pyber_data_df.groupby(["type"]).sum()["fare"]
total_fares.head()

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [28]:
#  4. Get the average fare per ride for each city type. 
average_fare_per_ride = total_fares/total_rides
average_fare_per_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [27]:
# 5. Get the average fare per driver for each city type. 
average_fare_per_driver = total_fares/total_drivers
average_fare_per_driver

type
Rural       8.059460
Suburban    2.258615
Urban       0.668675
dtype: float64

In [68]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df= pd.DataFrame({"Total_rides": total_rides, "total_drivers": total_drivers, "total_fares": total_fares, "average_fare_per_ride": average_fare_per_ride, "average_fare_per_driver": average_fare_per_driver})
pyber_summary_df.head()

,Total_rides,total_drivers,total_fares,average_fare_per_ride,average_fare_per_driver
type,,,,,
Rural,125,537,4327.93,34.623440,8.059460
Suburban,625,8570,19356.33,30.970128,2.258615
Urban,1625,59602,39854.38,24.525772,0.668675

In [72]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total_rides,total_drivers,total_fares,average_fare_per_ride,average_fare_per_driver
Rural,125,537,4327.93,34.623440,8.059460
Suburban,625,8570,19356.33,30.970128,2.258615
Urban,1625,59602,39854.38,24.525772,0.668675

In [79]:
#  8. Format the columns.
pd.options.display.float_format = '${:,.2f}'.format
pyber_summary_df

,Total_rides,total_drivers,total_fares,average_fare_per_ride,average_fare_per_driver
Rural,125,537,"$4,327.93",$34.62,$8.06
Suburban,625,8570,"$19,356.33",$30.97,$2.26
Urban,1625,59602,"$39,854.38",$24.53,$0.67

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [94]:
# 1. Read the merged DataFrame
fare_by_date = pyber_data_df.groupby(["date"]).sum()["fare"]
fare_by_date.head()

date
2019-01-01 00:08:16   $37.91
2019-01-01 00:46:46   $47.74
2019-01-01 02:07:24   $24.07
2019-01-01 03:46:50    $7.57
2019-01-01 05:23:21   $10.75
Name: fare, dtype: float64

In [125]:
# Create the Rural DataFrames
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_cities_df.head()

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,2019-04-13 11:13:31,$43.22,1076079536213,9,Rural
2251,North Holly,2019-02-02 14:54:00,$12.42,1985256326182,8,Rural
2252,Michaelberg,2019-03-27 18:27:34,$54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2019-02-23 21:12:24,$47.90,3269652929887,2,Rural
2254,Lake Latoyabury,2019-05-06 08:57:56,$51.80,4018025271936,2,Rural

In [129]:
# Create the Suburban DataFrames
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
suburban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,2019-01-27 03:08:01,$27.79,6653622887913,11,Suburban
1626,East Kentstad,2019-04-07 19:44:19,$18.75,6575961095852,20,Suburban
1627,Lake Omar,2019-01-17 21:33:35,$21.71,966911700371,22,Suburban
1628,Myersshire,2019-02-27 17:38:39,$17.10,5706770909868,19,Suburban
1629,West Hannah,2019-04-19 01:06:59,$37.78,2273047151891,12,Suburban

In [130]:
# Create the Urban city DataFrame.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,$13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,$30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,$33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,$23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,$34.58,3908451377344,46,Urban

In [128]:
fare_by_type = pyber_data_df.groupby(["type"]).sum()["fare"]
fare_by_type.head()

type
Rural       $4,327.93
Suburban   $19,356.33
Urban      $39,854.38
Name: fare, dtype: float64

In [141]:
# Merge to find total fare amount for each date
total_fare_by_date_df = pd.DataFrame({"date": fare_by_date, "Rural": urban_cities_df, "Suburban": suburban_cities_df, "Urban": urban_cities_df})
total_fare_by_date_df.head()

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')